
<%- include("partials/header"); -%>

<h1 style="background-color: darksalmon; padding: 20px; border-radius: 10px;" ><%=title%></h1>
    <div class="post">
    <p><%=content%></p>
</div>



<%- include("partials/footer"); -%>
